.title {
  text-align: center;
  margin-bottom: 1%;
  font-family: monospace;
  font-size: 4em;
}

.chatLog {
  border: double;
  height: 30em;
  width: 100%;
  margin-bottom: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.chatTable {
  overflow-wrap: break-word;
  table-layout: fixed;
  width: 100%;
}

.chatLog td {
  overflow-wrap: break-word;
  padding: 0px;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.logName {
  width: 8%;
  vertical-align: top;
  padding: unset;
}

.logMessage {
  width: 92%;
}

.message {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.5em;
}

#log {
  overflow;
}

.chatInput {
  width: 100%;
  margin: none;
  display: flex;
}

#chatConsole {
  width: 85%;
  height: auto;
}

#sendButton {
  width: 15%;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 10%; /* Same as the width of the sidebar */
  /* padding: 0px 10px; */
}

.table {
  border: black 1px solid;
}

.main .lobby {
  height: 60%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
